<div class="container">
    <div class="wrapper">
        <h2>Lend book to {{formatName(student)}}</h2>
        <mat-divider></mat-divider>
        <p></p>
        <form  [formGroup]="form" class="form">
            <mat-form-field>
                <input 
                    matInput 
                    [matDatepicker]="lendingDatepicker" 
                    placeholder="Lending date"
                    [formControl]="form.controls.lendingDate" required readonly>
                <mat-datepicker-toggle matSuffix [for]="lendingDatepicker">
                </mat-datepicker-toggle>
                <mat-datepicker #lendingDatepicker></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
                <input 
                    matInput 
                    [matDatepicker]="dueDatepicker" 
                    [formControl]="form.controls.dueDate"
                    placeholder="Due date" required readonly>
                <mat-datepicker-toggle matSuffix [for]="dueDatepicker"></mat-datepicker-toggle>
                <mat-datepicker #dueDatepicker></mat-datepicker>
            </mat-form-field>
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                <!-- Checkbox Column -->
                <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (change)="$event ? masterToggle() : null"
                                [checked]="selection.hasValue() && isAllSelected()"
                                [indeterminate]="selection.hasValue() && !isAllSelected()">
                    </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                    <mat-checkbox (click)="$event.stopPropagation()"
                                (change)="$event ? selection.toggle(row) : null"
                                [checked]="selection.isSelected(row)">
                    </mat-checkbox>
                </td>
                </ng-container>
            
                <!-- Name Column -->
                <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef> Title </th>
                <td mat-cell *matCellDef="let element"> {{element.title}} </td>
                </ng-container>
            
                <!-- Weight Column -->
                <ng-container matColumnDef="author">
                <th mat-header-cell *matHeaderCellDef> Author </th>
                <td mat-cell *matCellDef="let element"> {{element.author}} </td>
                </ng-container>
            
                <!-- Symbol Column -->
                <ng-container matColumnDef="isbn">
                <th mat-header-cell *matHeaderCellDef> ISBN </th>
                <td mat-cell *matCellDef="let element"> {{element.isbn}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="availableCopies">
                    <th mat-header-cell *matHeaderCellDef> # Copies available </th>
                    <td mat-cell *matCellDef="let element"> {{element.availableCopies}} </td>
                </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                    (click)="selection.toggle(row)">
                </tr>
            </table>
            <p></p>
            <div class="button-row">
                <button mat-raised-button
                        color="accent"
                        (click)="lendBook()"
                        [disabled]="form.invalid || submitted || selection.selected.length === 0" >
                <img src="assets/svg/loading.svg" alt="..." [hidden]="!submitted">
                <span>Go</span>
                </button>
            </div>
        </form>
    </div>
</div>